@import "../../style.scss";

.rightbar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: scroll;
    background-color: themed("bgSoft");
    

    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        padding: 20px;
        
        .item{
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14); 
box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14);
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: themed("bg");
            span{
                color: themed("textColorsoft");
            }
                .user{
                    &:hover{
                        // transition: 0.4s;
                        scale: 1.01;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0px 0px;
                    padding: 6px 4px;
                    .userInfo{
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        .online{
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position: absolute;
                            top: 0;
                            left: 22px;
                        }
                        span{
                            font-size: 14px;
                            font-weight: 500;
                            color: themed("textColor");
                            cursor: pointer;
                        }
                    }
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        button{
                            &:hover{
                                padding: 7px;
                                transition: 0.8s;
                                border-radius: 5px;
                            }
                            padding: 6px;
                            border: none;
                            border-radius: 2px;
                            color: white;
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: bold;

                            &:first-child{
                                &:hover{
                                    background-color: rgb(104, 202, 95);
                                }
                                background-color: rgb(146, 255, 136);
                                
                            }
                            &:last-child{
                                &:hover{
                                    background-color: rgb(255, 135, 141);
                                }
                                background-color: rgb(255, 167, 171);
                            }
                        }
                    }
                    
                }
            
        }
        .item2{
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14); 
box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14);
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: themed("bg");
            span{
                color: themed("textColorsoft");
            }
                .user{
                    &:hover{
                        // transition: 0.4s;
                        scale: 1.01;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 7px 0px;
                    .userInfo{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        .description{
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            span{
                                font-size: 14px;                              
                                color: themed("textColor");
                            }
                            .s01{
                                font-weight: 500;
                                cursor: pointer;
                            }
                            .s02{
                                color: themed("textColorsoft");
                            }
                            
                        }
                        
                    }
                    
                    span{
                        font-size: 12px;
                        color: themed("textColorsoft");
                    }
                }
            
        }
    }
}}